[Environment]
QT_QPA_PLATFORM=wayland

[Session Bus Policy]
org.kde.StatusNotifierItem-2-1=own
org.kde.StatusNotifierItem-2-2=own
org.kde.StatusNotifierItem-2-3=own
org.kde.StatusNotifierItem-2-4=own
